.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.page-number {
  color: #cccccc;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}